*{
    margin: 0;
    padding: 0;
    font-family: "Glory", sans-serif;
}

button:hover{
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 84px;
    padding-right: 84px;
    padding-bottom: 35px;
    padding-top: 35px;
}

.navbar div{
    width: 260px;
    display: flex;
    justify-content: space-between;
}

.navbar h1{
    font-size: 35px;
    font-weight: 500;
    color: #161DA3;
}

#addtask{
    width: 130px;
    height: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #161DA3;
    color: white;
}

#addtask p{
    font-size: 17px;
    display: inline;
    position: relative;
    bottom: 5px;
}

#addtask img{
    display: inline;
    width: 24px;
    height: 24px;
}

#mode{
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
}

#mode img{
    position: relative;
    top: 4px;
}

hr{
    border: 0.5px solid #5450CE
}
.title{
    display: flex;
    margin-top: 42px;
    margin-bottom: 42px;
    justify-content: center;
    width: 100%;
}

.title h1{
    font-size: 27px;
    font-weight: 500;
    color: #161DA3;
}

.todo, .progress, .done{
    text-align: center;
    flex: 1;
    min-height: 70vh;
    border-right: 1px solid #5450CE;
}

.done{
    border: none;
}

#first, #second, #third{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}

.cards{
    width: 310px;
    height: 310px;
    margin-top: 42px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards h1{
    font-size: 30px;
    color: black;
    text-decoration: underline;
    padding: 5px;
}

.cards h2{
    font-size: 25px;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding: 5px;
}

.edit{
    background: none;
    border: none;
    position: relative;
    left: 35%;
    bottom: 45%;
    display: none;
}

.del{
    background: none;
    border: none;
    position: relative;
    left: 35%;
    top: 20%;
    display: none;
}

.cards:hover .edit, .cards:hover .del{
    display: block;
}

#blackscreen{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.65;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}

#addcard{
    width: 450px;
    height: 400px;
    position: absolute;
    top: 12%;
    left: 25%;
    z-index: 2;
    background-color: #80B9EE;
    opacity: 0.95;
    border-radius: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 125px;
    padding-right: 125px;
    display: none;
}

#addcard h3{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 30px;
}

#btn1, #btn2, #btn3{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#btn1 button{
    background-color: #E6F0FA
}

#btn2 button{
    background-color: #BFDDF0
}

#btn3 button{
    background-color: #8CC0EB
}

input{
    margin: 18px;
    position: relative;
    bottom: 27px;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    width: 230px;
    padding: 10px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

#buttons{
    display: flex;
    flex-direction: column;
}

#buttons button{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 15px;
    border: 1px solid black;
}

#buttons button.selected{
    border: 3px solid #161DA3;
}

#buttons p{
    padding: 8px;
    font-size: 18px;
    position: relative;
    top: 2px;
    font-family: "Inter", sans-serif;
}

.keybtn{
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

#add, #cancel{
    width: 100px;
    height: 50px;
    background-color: #3475C9;
    border: none;
    border-radius: 10px;
}

body.dark{
    background-color: black;
}

.navbar.dark h1{
    color: #3475C9;
}

#addtask.dark{
    background-color: #3475C9;
    color: black;
}

hr.dark{
    border:0.5px solid #839CD4;
}

.dark.todo, .dark.progress{
    border-right: 1px solid #839CD4;
}

.dark.todo h1, .dark.progress h1, .dark.done h1{
    color: #3475C9;
}

#blackscreen.dark{
    opacity: 0.72;
}

#addcard.dark{
    background-color: #0B6FCD;
    opacity: 0.95;
}

#addcard.dark h3{
    color: white;
}

#addcard.dark input{
    border-bottom: 1px solid white;
}

#btn1.dark button{
    background-color: #4BB8FA;
    border: 1px solid white;
}

#btn2.dark button{
    background-color: #1591DC;
    border: 1px solid white;
}

#btn3.dark button{
    background-color: #2C5EAD;
    border: 1px solid white;
}

#btn1.dark, #btn2.dark, #btn3.dark p{
    color: white;
}
#add.dark, #cancel.dark{
    background-color: #161DA3;
    color: white;
}

.cards.dark h1, .cards.dark h2{
    color: white;
}

#buttons button.dark.selected{
    border: 3px solid #3475C9;
}